div#card{
  margin-top:  7em;
  width: 70%;
  display: grid;
  grid-template-columns:  1fr 1fr;
  margin-left: auto;
  margin-right: auto;


 div.login {
  border-radius: 10px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border: 1px solid #bd93f9;
  form{ p {
    margin-top: 0.5em;
  }
  input{
    width: 100%;
  }
}
 
 
  div.card-title{
    align-self: center;
    h3{
      font-size:  2em;
      margin-bottom: 1em;
    }
  }
  
  .forgot-password a{
    margin-top: 0px;
    font-size: 0.8em;
  }
  .forgot-password a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #d4b5ff;
  }
}
}
div#card div.create-account{
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
p{
  margin-top: 2em;
}


}
@media screen and (max-width: 750px) {
  div#card{
    
    gap: 1em;
    display: flex;
    flex-direction: column;
  }
  
}
