div.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 10vh;
  background-color: #6272a4;
  margin-bottom: 0px;
  margin-top: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    color: var(--white-color);
  }
}
